# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Environments / secrets
.env
.venv/
venv/
.kaggle/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/external/
*.zip

# Reports/Artifacts
reports/figures/*
models/*